.header {
  height: $heder-height;
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  font-size: 1.4rem;
  z-index: 5;
  .header__burger {
    display: none;
  }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    flex: 1 1 auto;
    display: block;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }



  .header__call-us {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }



  .header__enter-block {
    .main-button {
      margin-left: 15px;
    }
  }
  @media(max-width: 900px) {
    padding: 0 20px;
    font-size: 1.3rem;
    .header__call-us {
      display: none;
    }
    .header__enter-block {
      display: none;
      justify-content: start;
      margin-left: 15px;
      flex: 1 1 auto;
      .main-button {
        margin: 5px 0 0 0;
        padding: 5px;
      }
    }
    .header__burger {
      display: block;
      border-radius: 10px;
      background-color: #888;
      width: 40px;
      height: 40px;
      position: relative;
      cursor: pointer;
      transition: all .4s ease;
      &::after, &::before {
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease;
      }
      &:after {
        top: calc(50% - 5px);
      }
      &:before {
        top: calc(50% + 5px);
      }
      &.active {
        &:after {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .nav {
      position: absolute;
      left: 0;
      right: 0;
      max-height: 0;
      height: 100vh;
      top: $heder-height;
      overflow-y: scroll;
      background-color: #fff;
      transition: max-height 0.4s ease-out;
      &.opened {
        max-height: 100vh;
        transition: max-height 0.4s ease-in;
      }
    }
    .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      li {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}
